{% extends 'base.html.twig' %}

{% block content_title %}
    Collaborateurs
{% endblock %}


{% block content %}

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Everwinid</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Deleted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collaborateur in collaborateurs %}
            <tr>
                <td><a href="{{ path('collaborateur_show', { 'id': collaborateur.id }) }}">{{ collaborateur.id }}</a></td>
                <td>{{ collaborateur.everwinId }}</td>
                <td>{{ collaborateur.firstName }}</td>
                <td>{{ collaborateur.lastName }}</td>
                <td>{% if collaborateur.deleted %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('collaborateur_show', { 'id': collaborateur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('collaborateur_edit', { 'id': collaborateur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('collaborateur_new') }}">Create a new collaborateur</a>
        </li>
    </ul>
{% endblock %}
