{% extends 'base.html.twig' %}

{% block content_title %}
    Collaborateur
{% endblock %}

{% block content %}
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collaborateur.id }}</td>
            </tr>
            <tr>
                <th>Everwinid</th>
                <td>{{ collaborateur.everwinId }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ collaborateur.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ collaborateur.lastName }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if collaborateur.deleted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('collaborateur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('collaborateur_edit', { 'id': collaborateur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
