{% extends '::base.html.twig' %}

{% block content_title %}Modification d'un utilisateur{% endblock %}

{% block content %}


                                        {{ form_start(form,  { 'attr': {'class': 'form'} }) }}
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="icon-head"></i> Information de l'utilisateur</h4>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput1">First Name</label>
                                                        {{ form_widget(form.firstname,  { 'attr': {'class': 'form-control', 'placeholder':"First Name"}}) }}
                                                        {#<input type="text" id="projectinput1" class="form-control" placeholder="First Name" name="fname">#}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput2">Last Name</label>
                                                        {{ form_widget(form.lastname,  { 'attr': {'class': 'form-control', 'placeholder':"Last Name"}}) }}
                                                        {#<input type="text" id="projectinput2" class="form-control" placeholder="Last Name" name="lname">#}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput3">E-mail</label>
                                                        {{ form_widget(form.email,  { 'attr': {'class': 'form-control', 'placeholder':"E-mail"}}) }}
                                                        {#<input type="text" id="projectinput3" class="form-control" placeholder="E-mail" name="email">#}
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput3">Username</label>
                                                        {{ form_widget(form.username,  { 'attr': {'class': 'form-control', 'placeholder':"User Name"}}) }}
                                                        {#<input type="text" id="projectinput3" class="form-control" placeholder="E-mail" name="email">#}
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput3">Responsable</label>
                                                            {{ form_widget(form.userReponsable,  { 'attr': {'class': 'form-control', 'placeholder':"Responsable"}}) }}
                                                            
                                                        </div>
                                                    </div> 
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput3">Code SX</label>
                                                            {{ form_widget(form.codeSX,  { 'attr': {'class': 'form-control', 'placeholder':"Code SX"}}) }}
                                                            
                                                        </div>
                                                    </div>

                                                </div>

                                            <h4 class="form-section"><i class="icon-clipboard4"></i> Role et mot de passe</h4>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyName">Role</label><br>
                                                        {{ form_widget(form.roles[0]) }}
                                                        {#<input type="text" id="companyName" class="form-control" placeholder="Company Name" name="company">#}
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput3">Mot de passe</label>
                                                        {{ form_widget(form.plainPassword,  { 'attr': {'class': 'form-control', 'placeholder':"Mot de passe"}}) }}
                                                        {#<input type="text" id="projectinput3" class="form-control" placeholder="E-mail" name="email">#}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-actions">
                                            {#<button type="button" class="btn btn-warning mr-1">
                                                <i class="icon-cross2"></i> Cancel
                                            </button>#}
                                            <button type="submit" class="btn btn-primary">
                                                <i class="icon-check2"></i> Save
                                            </button>
                                        </div>
                                        <div style="display: none">
                                            {{ form_widget(form.roles[1]) }}
                                            {{ form_widget(form.roles[2]) }}
                                        </div>
                                        {{ form_end(form) }}


{% endblock %}