{% extends 'base.html.twig' %}

{% block body %}
    <h1>Survey</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ survey.id }}</td>
            </tr>
            <tr>
                <th>Datesurvey</th>
                <td>{% if survey.dateSurvey %}{{ survey.dateSurvey|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Commentairesclient</th>
                <td>{{ survey.commentairesClient }}</td>
            </tr>
            <tr>
                <th>Signatureclient</th>
                <td>{{ survey.signatureClient }}</td>
            </tr>
            <tr>
                <th>Signatureresponsableagence</th>
                <td>{{ survey.signatureResponsableAgence }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('survey_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('survey_edit', { 'id': survey.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
