{% extends 'base.html.twig' %}

{% block content_title %}
    Voir liste de diffusion
{% endblock %}

{% block content %}
    <h1>Mailgroup</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mailGroup.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ mailGroup.label }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if mailGroup.active %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mailgroup_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mailgroup_edit', { 'id': mailGroup.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
