{% extends 'base.html.twig' %}

{% block content_title %}
    Modifier un Client
{% endblock %}

{% block content %}


    {{ form_start(edit_form,  { 'attr': {'class': 'form'} }) }}
    <div class="form-body">
        <h4 class="form-section"><i class="icon-head"></i> Information du Client</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="projectinput1">Raison Sociale</label>
                    {{ form_widget(edit_form.name,  { 'attr': {'class': 'form-control', 'placeholder':"Raison Sociale"}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="projectinput2">Adresse</label>
                    {{ form_widget(edit_form.address,  { 'attr': {'class': 'form-control', 'placeholder':"Adresse"}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="projectinput3">Code Postale</label>
                    {{ form_widget(edit_form.zip_code,  { 'attr': {'class': 'form-control', 'placeholder':"Code Postale"}}) }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="projectinput3">Ville</label>
                    {{ form_widget(edit_form.city,  { 'attr': {'class': 'form-control', 'placeholder':"Ville"}}) }}
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="projectinput3">Responsable</label>
                    {{ form_widget(edit_form.user,  { 'attr': {'class': 'form-control', 'placeholder':"Responsable"}}) }}

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="projectinput3">Code SX</label>
                    {{ form_widget(edit_form.codeSX,  { 'attr': {'class': 'form-control', 'placeholder':"Code SX"}}) }}
                </div>
            </div>

        </div>
    </div>

    <div class="form-actions">
        <a href="{{ path('customer_index') }}">
            <button type="button" class="btn btn-warning mr-1">
                <i class="icon-cross2"></i> Retour
            </button>
        </a>
        <button type="submit" class="btn btn-primary">
            <i class="icon-check2"></i> Save
        </button>
    </div>
    {{ form_end(edit_form) }}



{% endblock %}
