{% extends 'base.html.twig' %}

{% block content_title %}
    Critère
{% endblock %}

{% block content %}



    <dl class="row">
        <dt class="col-sm-3">Titre</dt>
        <dd class="col-sm-9">{{ criterion.label }}</dd>

        <dt class="col-sm-3">Type du critère</dt>
        <dd class="col-sm-9">{% if criterion.criteriaType == 1 %}
                Collaborateur
            {% else %}
                Client
            {% endif %}
        </dd>

        <dt class="col-sm-3">Descritpion</dt>
        <dd class="col-sm-9">{{ criterion.description }}</dd>

    </dl>

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('criteria_index') }}">
                <button type="button" class="btn btn-info btn-min-width btn-round mr-1 mb-1">Retour à la liste</button>
            </a>
            <a href="{{ path('criteria_edit', { 'id': criterion.id }) }}">
                <button type="button" class="btn btn-primary btn-min-width btn-round mr-1 mb-1">Edition</button>
            </a>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger btn-min-width btn-round mr-1 mb-1">
            {{ form_end(delete_form) }}
        </div>

    </div>


{% endblock %}
